/* body settings override default internet css*/

body {
  margin: 0;
  background: red;
  padding: 0;
  font-size: 1.2em;
}

/* movie list styling */

/* header as a two column grid */

#header {
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  font-family: "Garamond";
  align-items: center;
}

/* grid paragraph styling */

#openp {
  max-width: 70%;
  font-size: 1.2em;
}

/* list of films grid */

.moviegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em 0 3em 3em;
  grid-row-gap: 1em;
}

.movie {
  padding: 3em 0 3em 3em;
  text-decoration: none;
  border-bottom: solid black 1px;
}

.movie:hover {
  animation: movie;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 100ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.movie h3,
.movie h5 {
  font-size: 2em;
  font-family: "Garamond";
  display: inline;
  color: black;
}

/* main page movie hover animation */

@keyframes movie {
  0% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: yellow;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 500px;
}

/* movie info page styling */

/* movie title, trailer and horizontal div styling */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  font-size: 4em;
  padding: 1em;
}

#trailer {
  text-decoration: underline;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
}

#trailer:hover {
  text-decoration: none;
  color: yellow;
}

#horizontal {
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;
}

#info p,
#info h3 {
  border-bottom: solid black 1px;
}

#info {
  max-width: 70%;
  border: 1px solid black;
  padding: 1em;
}

/* purchase tickets table styling */

#coptix {
  border: 1px solid black;
  max-width: 70%;
  padding: 1em;
}

#coptix ul {
  list-style-type: none;
}

#coptix h3,
.table {
  border-bottom: solid black 1px;
}

#coptix ul {
  text-transform: capitalize;
}

#coptix a {
  color: black;
  font-style: italic;
}

#coptix a:hover {
  color: yellow;
}

#coptix li {
  padding: 0.3em 0 0.3em 0;
  font-size: 1.2em;
}

#coptix p {
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Purchase tickets page styling */

#purchasegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em;
}

#purchasegrid form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  padding: 1em;
}

/* request form styling */

#purchaseform {
  border: 1px solid black;
  padding: 1em;
}

input {
  padding: 1em;
}

input[type="text"] {
  background-color: red;
  border: 1px solid black;
}

input[type="submit"] {
  font-style: Garamond;
  font-weight: bold;
  background-color: red;
  border: 1px solid black;
  font-size: 1em;
  text-transform: uppercase;
}

.formleft {
  text-align: left;
}

.formright {
  align-self: start;
  text-align: left;
}

#formpurchase {
  text-align: center;
}

/* footer styling */

#footer {
  position: fixed;
  max-width: 75px;
  bottom: 1%;
  right: 1%;
}

.boldtext {
  font-weight: bold;
}

/* media queries */

@media (max-width: 1007px) {
  .table {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 604px) {
  #purchasegrid {
    grid-template-columns: 1fr;
  }

  #purchasegrid form {
    grid-template-columns: 1fr;
  }
  #header {
    grid-template-columns: 1fr;
  }
  #openp {
    max-width: 100%;
  }
  .moviegrid {
    grid-template-columns: 1fr;
    padding: 1em 1em 0 1em;
  }
  .movie {
    font-size: 0.75em;
  }
  #info {
    max-width: 100%;
  }
  #coptix {
    max-width: 100%;
  }
}
